body {
  padding: 0px;
  margin: 0 auto;
  height: 100%;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
}

#app {
  height: 100%;
  padding: 0px;
  margin: 0 auto;
}
/*html {
  background: url(./assets/localized-fam.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
